@import './fonts.css';

:root {
  --font-display: 'Amenti', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font-sans: 'PP Neue Montreal', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

body {
  font-family: var(--font-sans);
}